<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>HTML1</title>
</head>
<body class="d-flex justify-content-center align-items-center" style="height: 100vh !important;">
  <div class="row mx-0 panel overflow-hidden" style="width: 90%;height: 90% !important;">
    <div class="col-2 p-0 border-end">
      <ul>
        <li>
          <a class="nav-link" href="#">
            <i class="fa-solid fa-house"></i>
            <p>Home</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="#">
            <i class="fa-solid fa-chart-line"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="#">
            <i class="fa-solid fa-sitemap"></i>
            <p>Options</p>
          </a>
        </li>
        <li>
          <a class="nav-link" href="#">
            <i class="fa-solid fa-users"></i>
            <p>Users</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      
    </div>
  </div>
  
  <script src="https://kit.fontawesome.com/c3cffe3b5e.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>