body{
  background-image: url("./backgroundf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.panel{
  background: rgba(255, 255, 255, 0.407);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.4px);
  -webkit-backdrop-filter: blur(16.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
li{
  padding: 1rem;
  cursor: pointer;
}
li:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
a{
  position: relative;
  /* display: flex;
  align-items: center; */
}
a i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
p{
  margin: 0;
}
a p{
  padding-left: 2rem;
}